{% extends "base.html" %}
{% block content %}
    {% if invoice %}
        <h1>{{ invoice.name }}</h1>
        <form method="post" action="">
            {% csrf_token %}
            <p><textarea name="text">{{ invoice.text }}</textarea> Краткое описание</p>
            <p><textarea name="full_text">{{ invoice.full_text }}</textarea> Полное описание</p>
            <p><input type="checkbox" name="send_text"> Отправить полный текст</p>
            <p><input type="checkbox" name="send_short_text"> Отправить краткий текст</p>
            <p>
                {% if invoice.image %}
                    <img src="{{ invoice.image.src }}">
                {% endif %}
                <input type="file" name="image"> Картинка
            </p>
            <p><input type="datetime-local" name="departure_date" value="{{ invoice.departure_date }}">Дата отправления</p>
            <p><input type="datetime-local" name="receive_date" value="{{ invoice.receive_date }}">Дата получения</p>
            <p><input type="submit" value="Внести изменения"></p>
            <p><button name="word">Экспорт документа в WORD</button></p>
        </form>
        <p>К списку <a href="/invoices">продуктов</a></p>
    {% else %}
        <h1>Данный продукт не найден</h1>
        <p>попробуйте найти еще <a href="/invoices">раз</a></p>
    {% endif %}
{% endblock %}